@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Sen:wght@400..800&display=swap");

:root {
  --black: #222;
  --indian-red: #eb5757;
  --wite-smoke: #f9f9f9;
  --brown: #ab4040;
  --gold: #ffde03;
  --red: #e53935;
  --steel-blue: #1976d2;
  --dim-grey: #525252;
  --light-grey: #8383832d;
  --lighter-grey: #e8e8e8;
  --medium-sea-grean: #20c788;
}

h1,
h2,
h3,
p,
a {
  margin: 0;
}
/* button {
    background: none;
    border: none;
    margin: 0;
    padding: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;
} */
body {
  font-family: "sen", sans-serif;
  font-weight: 400;
  font-size: 16px;
  background: var(--wite-smoke);
  line-height: 1.5;
  margin: auto;
}
header {
  position: sticky;
  width: 100%;
  top: 0;
  z-index: 1000;
}

.banner {
  background-color: var(--black);
  /* width: 100%; */
  padding: 0 10px;
  color: var(--wite-smoke);
  font-size: 18px;
  margin: auto;
  position: sticky;
}

.banner-block {
  max-width: 1200px;
  display: grid;
  grid-template-columns: 1fr 30px;
  padding: 20px 15px;
  margin: auto;
  text-align: center;
}

.close-btn {
  cursor: pointer;
  background: none;
  background-color: var(--light-grey);
  border: none 2px var(--wite-smoke);
  color: var(--wite-smoke);
  border-radius: 5px;
}

nav {
  background-color: var(--indian-red);
  padding: 5px 10px;
  /* width: 100%; */
}
.nav-bar {
  display: grid;
  grid-template-columns: 60px 1fr;
  max-width: 1200px;
  margin: auto;
}

.nav-menu {
  display: grid;
  align-items: center;
  justify-items: flex-end;
}

.nav-menu ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  gap: 50px;
}

.nav-menu ul li a {
  display: block;
  color: var(--wite-smoke);
  text-align: center;
  margin: 0 20px;
  padding: 4px 10px;
  text-decoration: none;
  border-radius: 5px;
}

.nav-menu ul li a:hover {
  background-color: var(--black);
  color: var(--wite-smoke);
}
#menu {
  display: none;
}

.nav-menu .active {
  background-color: var(--black);
  color: var(--wite-smoke);
}
.logo {
  width: 100%;
}
.logo img {
  width: 100%;
}

.two,
.hero-container {
  position: relative;
  width: 100%;
  height: 800px; /* Set the height to match the slides */
  overflow: hidden;
  background-image: linear-gradient(
    to top,
    rgb(0, 0, 0),
    transparent
  ); /* Apply linear gradient to hero container */
}
.two {
  margin-top: 60px;
}
html {
  scroll-behavior: smooth;
  scroll-padding-top: 70px;
}

.cta-image,
.hero-slide {
  position: relative;
  height: 100%; /* Set the height to 100% to fill the container */
  display: flex;
  justify-content: center;
  align-items: center;
  /* opacity: 0; */
  transition: opacity 0.3s ease; /* Add transition effect */
  z-index: -1;
}

.cta-image img,
.hero-slide img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.prev,
.next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: var(--lighter-grey);
  border: none;
  cursor: pointer;
  padding: 10px;
  font-size: 18px;
  z-index: 100;
}

.prev {
  left: 0;
}

.next {
  right: 0;
}

.cta-text,
.hero-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  color: var(--wite-smoke);
  width: 1200px;
  margin: auto;
  padding: 0 15px;
}

.hero-content {
  min-height: 800px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  border-radius: 10px;
}

.cta-content h1,
.hero-content h1 {
  margin: 20px 0;
  width: 35%;
  font-size: 62px;
  font-weight: 700;
  line-height: 1.2;
}
.cta-content p,
.hero-content p {
  margin-bottom: 25px;
  width: 35%;
  font-size: 18px;
  line-height: 1.5;
}

.cta-content a,
.hero-content a {
  background-color: var(--indian-red);
  padding: 10px 20px;
  color: var(--wite-smoke);
  border-radius: 10px;
  font-size: 16px;
  text-decoration: none;
}
.cta-content a:hover,
.hero-content a:hover {
  background-color: var(--black);
}

.location {
  max-width: 1200px;
  margin: auto;
}
.info-wrapper {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  line-height: 1.5;
  margin-bottom: 40px;
}
.support-text {
  width: 45%;
}
.location-image p,
.support-text p {
  margin-bottom: 10px;
}
.product-text,
.text-info {
  display: flex;
  flex-direction: column;
}
.product-text h2,
.text-info h2 {
  font-size: 40px;
  font-weight: 700;
  line-height: 1.2;
}
.product-wrapper,
.location-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
}
.location-image {
  width: 45%;
  min-height: 200px;
  display: flex;
  flex-direction: column;
}
.image-wrapper {
  width: 100%;
  height: 450px;
  overflow: hidden;
  margin-bottom: 25px;
  border-radius: 5px;
}
.location-image h3 {
  font-size: 25px;
}

.cta-content {
  min-height: 800px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  text-align: right;
}

.one,
.four,
.three {
  padding: 65px 0;
}
.weather-wrapper,
.product {
  padding: 0 15px;
  margin: auto;
  max-width: 1200px;
}
.product-head {
  display: flex;
  margin-bottom: 40px;
}

.product-image {
  width: 32%;
  min-height: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.product-image a {
  background-color: var(--indian-red);
  padding: 10px 20px;
  color: var(--wite-smoke);
  border-radius: 10px;
  font-size: 16px;
  text-decoration: none;
}

.weather-wrapper {
  display: flex;
  justify-content: space-between;
  text-align: left;
  gap: 30px;
}

.weather-card {
  width: 35%;
  min-height: 200px;
  /* max-width: 400px; */
  /* margin: 20px auto; */
  border: 1px solid var(--light-grey);
  border-radius: 8px;
  padding: 20px 30px;
  background-color: var(--indian-red);
  color: var(--wite-smoke);
  /* text-align: center; */
}

.weather-card h2 {
  margin-bottom: 10px;
}
#current-weather {
  width: 70%;
}
.current-card {
  display: flex;
  flex-direction: column;
}
.city-country {
  display: flex;
  justify-content: flex-start;
  font-size: 18px;
}
.current-info {
  display: flex;
  flex-direction: column;
  /* grid-template-rows: 1fr 30%; */
}
.info-card {
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-size: 20px;
  border-bottom: solid var(--wite-smoke) 0.5px;
  border-top: solid var(--wite-smoke) 0.5px;
  margin: 10px 0 10px 0;
}
.rest-info {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  gap: 0; /* Remove the gap */
  text-align: left;
  /* border: solid var(--dim-grey); */
  border-radius: 4px; /* Add border-radius for a rounded table look */
  overflow: hidden; /* Hide any overflow */
}

.rest-info > div {
  padding: 10px;
  border-bottom: 0.2px solid var(--wite-smoke);
  border-right: 0.05px dashed var(--wite-smoke);
  background-color: var(
    --light-grey
  ); /* Set a background color for better contrast */
}

.rest-info > div:nth-child(4),
.rest-info > div:nth-child(8) {
  border-right: none;
}

.rest-info > div:nth-last-child(2),
.rest-info > div:last-child {
  border-bottom: none; /* Remove the bottom border from the last child */
}

.forecast-info > div:nth-child(3) {
  border-right: 0.05px dashed var(--wite-smoke);
}

.forecast-info > div:nth-child(2),
.forecast-info > div:nth-child(4) {
  border-right: none;
}
.forecast-info > div:nth-child(4) {
  border-bottom: 0.2px solid var(--wite-smoke);
}

.weather-card img {
  width: 50px;
  height: 50px;
}
[id$="-description"] {
  text-transform: capitalize;
}

footer {
  padding: 25px 10px;
  background-color: var(--black);
  color: var(--wite-smoke);
}
.footer {
  max-width: 1200px;
  margin: auto;
  padding: 0 15px;
}
.footer-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer-logo {
  width: 5%;
}
.footer-logo img {
  width: 100%;
}
.footer-bottom {
  margin-top: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
}

.social-icons {
  list-style: none;
  padding: 0;
  margin: 0;
}

.social-icons li {
  display: inline-block;
  margin-right: 10px; /* Adjust spacing between icons */
}

.social-icons a {
  display: block;
  width: 30px; /* Adjust icon size */
  height: 30px; /* Adjust icon size */
  background-repeat: no-repeat;
  background-size: cover;
  transition: background-image 0.3s ease;
}

/* Rentals CSS */
.product-banner {
  padding: 30px 0;
  background-color: var(--black);
  color: var(--wite-smoke);
}
.reserve,
.rental-info,
.product-sidebar,
.text-container,
.pricing {
  max-width: 1200px;
  padding: 0 15px;
  margin: auto;
}
.text-container h1 {
  font-size: 38px;
  line-height: 44px;
  font-weight: 700;
}

.rentals-hero {
  padding-top: 65px;
}

.rentals-hero-wrapper {
  max-width: 1200px;
  padding: 0 15px;
  margin: auto;
  overflow: visible;
  position: static;
}

.rentals-hero-content {
  width: 100%;
  height: 250px;
  position: relative;
  overflow: hidden;
}

.rentals-hero-img {
  background-image: linear-gradient(to top, rgb(0, 0, 0), transparent);
}

.rentals-hero-content img {
  width: 100%;
  object-fit: cover;
  position: relative;
  z-index: -1;
}
.feature-item {
  position: absolute;
  top: 8%;
  right: 1%;
  padding: 5px 20px;
  margin-right: 10px;
  background-color: var(--wite-smoke);
  border-radius: 5px;
}
.feature-text {
  position: absolute;
  left: 2%;
  bottom: 6%;
  color: var(--wite-smoke);
}
.feature-text h3 {
  font-size: 24px;
  height: 30px;
  font-weight: 700;
  margin: 20px 0 5px 0;
}
/* Left and Right Buttons */
.left-button,
.right-button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 20px;
  color: var(--dim-grey);
  background-color: var(--lighter-grey);
  border: none;
  border-radius: 5px;
  cursor: pointer;
  z-index: 1;
}

.left-button {
  left: 10px;
}

.right-button {
  right: 10px;
}
.sidebar-wrapper {
  display: flex;
  align-items: stretch;
  justify-content: space-between;
}
.sidebar {
  padding-right: 25px;
  width: 20%;
}
.sidebar-btn {
  display: inline-block;
  width: 100%;
  padding: 10px 25px;
  margin-bottom: 10px;
  border: 1px solid var(--black);
  border-radius: 5px;
  text-align: left;
  background-color: var(--wite-smoke);
}

.sidebar-btn:hover,
.sidebar-btn.active {
  background-color: var(--black);
  color: var(--wite-smoke);
}
.sidebar-mobile {
  display: none;
}

.content-wrapper {
  width: 80%;
  /* display: grid; */
}

.content.active {
  display: block;
}

.content {
  display: none;
  width: 100%; /* Set full width initially */
  margin-bottom: 20px; /* Add margin between content items */
}
.content3 {
  display: flex;
  justify-content: flex-start !important;
  align-items: stretch;
  gap: 5%;
}
.product-image p {
  text-align: center;
  margin: 5px 0 10px 0;
}

.pricing-table {
  margin: 20px auto;
  overflow-x: auto; /* Allows table to scroll horizontally on small screens */
}

table {
  width: 100%;
  border-collapse: collapse;
  table-layout: fixed; /* Helps keep column widths consistent */
}

thead th,
tbody td {
  border: 1px solid #ccc;
  padding: 10px;
  text-align: center;
  word-wrap: break-word; /* Ensures text doesn't overflow its container */
}

thead th {
  background-color: #f0f0f0;
}

tbody td {
  background-color: #fff;
}

tbody tr:nth-child(even) td {
  background-color: #f9f9f9;
}

tbody tr td:first-child {
  text-align: left;
  padding-left: 15px; /* Adjusted for mobile */
}

.location-image {
  position: relative;
}

.location-image iframe {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.home-gallery ul {
  margin-bottom: 40px;
}
.home-gallery2 ul {
  margin-bottom: 90px;
}

/* CSS for REservation */
.reserve-info {
  display: flex;
  flex-direction: column;
  margin: auto;
  width: 50%;
  text-align: center;
}
.reserve-info h6 {
  font-size: 14px;
  line-height: 1.5;
  text-transform: uppercase;
  margin: 0;
  font-weight: 400;
}
.reserve-info h2 {
  margin: 20px 0 10px 0;
  line-height: 36px;
}
.reserve-info p {
  margin-bottom: 10px;
}
.reserve-info-wrapper {
  display: flex;
}

form {
  display: flex;
  grid-gap: 1rem;
  flex-direction: column;
}

.form-group {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

label {
  font-weight: bold;
}

input,
select {
  width: 100%;
  padding: 10.8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.form-group button {
  padding: 15px 30px;
  background-color: var(--indian-red);
  color: #fff;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  /* width: 100%; */
}

.form-group button:hover {
  background-color: var(--black);
}
.reservation-form,
.rental-agreement {
  border-radius: 15px;
  padding: 15px;
  color: var(--black);
  background-color: var(--light-grey);
  margin: 0 1rem;
}

.rental-agreement {
  width: 40%;
  height: max-content;
}
.reservation-form {
  width: 55%;
}
.rental-agreement hr {
  border-color: var(--dim-grey);
  border: solid 0.2px;
}
.rental-agreement ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.rental-agreement li:not(:last-child) {
  border-bottom: 0.1px solid var(--dim-grey);
  padding-top: 10px;
  padding-bottom: 10px;
  margin-right: 10px;
}

.inner-border {
  border: solid 0.5px var(--black);
  padding: 5px;
  padding-left: 10px;
  border-radius: 15px;
}

.reserve-hero {
  padding-bottom: 65px;
}
.phone-number-input {
  display: flex;
  align-items: center;
  position: relative;
  width: 100%;
  background-color: var(--wite-smoke);
  border: solid 1px #ccc;
  border-radius: 4px;
}

.country-icon {
  display: flex;
  align-items: center;
  padding: 9px 8px;
  /* border: 1px solid #ccc; */
  border-radius: 4px;
  background-color: var(--light-grey);
  cursor: pointer;
}

.flag-icon {
  margin-right: 5px;
  width: 100%;
}

.country-dropdown {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  z-index: 1;
  display: none;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease;
}

.country-dropdown.show {
  display: block;
  max-height: 300px;
}

.dropdown-content {
  padding: 8px;
}

.search-box {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  outline: none;
}

.country-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  max-height: 200px;
  overflow-y: auto;
}

.country-list li {
  padding: 8px 12px;
  cursor: pointer;
}

.country-list li:hover {
  background-color: #f5f5f5;
}

#phone {
  flex-grow: 1;
  padding: 12px 12px;
  border: none !important;
  border-radius: 0 !important;
  outline: none;
}
#special-accommodations {
  padding: 10px;
  box-sizing: border-box;
  width: 100%;
  border: solid 1px #ccc;
  border-radius: 4px;
}
.success {
  display: flex;
  flex-direction: column;
  margin: auto;
  width: 50%;
  text-align: center;
  align-items: center;
}
.lottie {
  width: 100%;
}
.lottie svg {
  width: 50% !important;
  height: 50% !important;
}

.reservation {
  width: 100%;
  padding-bottom: 0 !important;
  height: 550px;
  background-image: linear-gradient(to top, #222, transparent);
  z-index: 1;
}

.reserve-contact {
  width: 1200px;
  margin: auto;
  position: absolute;

  color: white;
  height: 300px;
  padding: 0 15px;
}
.reserve-contac-wrapper {
  min-height: 370px;
  display: flex;
  flex-direction: column;

  justify-content: center;
  align-items: flex-start;
  border-radius: 10px;
}
.reserve-contac-wrapper h1 {
  margin: 20px 0;
  width: 35%;
  font-size: 62px;
  font-weight: 700;
  line-height: 1.2;
}
.reserve-contac-wrapper p {
  margin-bottom: 25px;
  width: 50%;
  font-size: 18px;
  line-height: 1.5;
}
.reserve-contac-wrapper a {
  background-color: var(--indian-red);
  padding: 10px 20px;
  color: var(--wite-smoke);
  border-radius: 10px;
  font-size: 16px;
  text-decoration: none;
  /* cursor: pointer; */
  z-index: 1;
}
.reserve-contac-wrapper a:hover {
  background-color: var(--black);
}

.reserve-contact-head {
  width: 1200px;
  margin: auto;
  overflow: hidden;
}

.contact-hero {
  background-color: var(--black);
  color: var(--wite-smoke);
}

.contact-hero-img {
  display: flex;
  position: relative;
  align-items: stretch;
  justify-content: flex-end;
}

.hero-contact-image {
  width: 100%;
  height: 550px;
  position: relative;
  overflow: hidden;
}

.hero-contact-image::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(to top, #000000, transparent);
  z-index: 2;
}

.hero-contact-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}

.contact-hero-container {
  width: 1200px;
  position: absolute;
  margin: auto;
  padding: 0 15px;
  z-index: 5;
  top: 50%;
  left: 0%;
  right: 0%;
}
.contact-hero-container h1 {
  font-weight: 800;
  text-align: center;
  font-size: 80px;
  /* margin: auto; */
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.contact-content-section {
  padding: 65px 0;
}
.contact-container-wrapper {
  max-width: 1200px;
  margin: auto;
  padding: 0 15px;
}
.contact-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
}
.contact-left {
  width: 30%;
}
.contact-left h2 {
  margin: 20px 0 10px 0;
}
.contact-info p {
  margin-bottom: 10px;
}
.contact-info span {
  font-weight: 700;
}
.contact-right {
  padding-left: 20px;
  width: 70%;
}
.contact-right h2 {
  margin: 20px 0 10px 0;
}
.contact-right p {
  margin-bottom: 10px;
}
.form-details label span {
  margin-bottom: 5px;
  font-weight: normal;
}
.form-details div {
  display: flex;
  flex-direction: column;
}
.form-details textarea {
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
}
/* Modal (background) */
.modal {
  display: none;
  position: fixed;
  z-index: 10;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
}

/* Modal Content */
.modal-content {
  background-color: #fefefe;
  margin: 30% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 20%;
  border-radius: 10px;
  position: fixed;
  left: 40%;
  display: flex;
  flex-direction: column;
}
.modal-content p {
  font-size: 18px !important;
  text-align: center !important;
}
.modal-content p span {
  font-size: 20px !important;
  font-weight: 700 !important;
}
.close {
  color: #aaa !important;
  float: right !important;
  font-size: 28px !important;
  font-weight: bold !important;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.contact-lotie {
  width: 100%;
  height: 300px;
}
.contact-rentals {
  min-height: 0 !important;
  display: block !important;
}
